@media only screen and (max-width:1210px){
    .header-content{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .header-content{
        margin-top: 40px;
    }

    .header-button-block button{
        margin: 40px auto;
    }

    .apply{
        margin-top: 0px;
    }
}

@media only screen and (max-width:992px){
    .navbar{
        display: flex;
        flex-direction: column;
    }

    .navbar-link{
        margin-top: 40px;
        text-align: center;
    }

    button.red-button{
        display: block;
        margin: 40px auto;
    }
    .welcome-container{
        display: flex;
        justify-content:center;
    }

    .welcome-text{
        margin-top: 100px;
        text-align: center;
    }

    .welcome-container img{
        margin-top: 100px;
    }
}

@media only screen and (max-width:768px){
    .footer-text{
        display: flex;
        justify-content: center;
    }

    .footer-a{
        margin-top: 50px;
        text-align: center;
    }

    .apply{
        margin: 0 auto;
    }

    .wrapper{
        margin: 0 auto;
    }
}

@media only screen and (max-width:576px){
    .footer-a-block:first-child{
        margin-left: 0;
    }
}

@media only screen and (max-width:451px){
    .navbar-link-item:not(:last-child){
        margin-right: 30px;
    }
}